<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ .Title }}{{ if ne .Title .Site.Title }} — {{ .Site.Title }}{{ end }}</title>
<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">{{ if .Keywords }}
<meta name="keywords" content="{{ range $keyword := .Keywords }}{{ $keyword }} {{ end }}">{{end}}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">
</head>
<body>
<header>
<a href="/"><img src="portrait.png"></a>
<h1>Orane Marchal</h1>
<h2>Optical Design Engineer</h2>
<p><span class="fa fa-map-marker"></span> Paris, France</p>
<ul>
<li><a href="http://www.google.com/recaptcha/mailhide/d?k=016dT9F32kI81GY_8tWNEQnw==&c=5oUChofw9zY4ShBRnb91YdO5xfxF2p0q1zPcqttNxYA="><span class="fa fa-envelope"></span></a></li>
<li><a href="https://twitter.com/PetiteRanou"><span class="fa fa-twitter"></span></a></li>
<li><a href="https://www.linkedin.com/in/oranemarchal"><span class="fa fa-linkedin"></span></a></li>
</ul>
</header>
